@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1 {
    width: 49%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.87));
}
.logo {
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
}
.bankname1{
    display: flex;
    color: #fff;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    text-align: center;
}
.bankname2{
    color: rgba(255, 255, 255, 0.55);
    display: flex;
    font-family: 'Poppins';
    font-size: bold;
    text-align: center;
    align-items: center;
}
.navbar{
    display: flex;
    padding-left: 62%;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    position: flex;
    display: inline-block;
    font-size: 18px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.6);
}
.navbar ul li a:hover {
    text-decoration: underline;
    color: black;
    transition: 0.3s ease-in;
}
.container2{
    position: absolute;
    width: 51%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 49%;
}
img {
    position: absolute;
    width: 540px;
    height: auto;
    top: 200px;
    left: 80px;
    transform: rotate(-20deg);
}
.log-in {
    display: absolute;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    width: 80px;
    height: 28px;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 441px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
}
.get-it-now {
    display: absolute;
    width: 85px;
    height: 28px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
}
.log-in:hover {
    transition: 0.7s ease-in;
    color: rgba(0, 0, 0, 0.82);
}
.get-it-now:hover{
    transition: 0.7s ease-in;
    color: rgba(0, 0, 0, 0.82);
}
.main-title{
    width: 50%;
    position: flex;
    margin-left: 150px;
    padding-top: 60px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.85);
}
.main-text{
    position: absolute;
    width: 600px;
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Poppins';
}
.main-title2{
    position: flex;
    width: 60%;
    padding-left: 230px;
    padding-top: 260px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Poppins';
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}
.main-text2{
    position: absolute;
    width: 600px;
    height: auto;
    padding-left: 30px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Poppins';
    font-size: 15px;
}